In [1]:
#Auomotive service industry: Personalised service recommendations for customers. 
#Can be used to drive up revenue. Can be used or cold calling, to provide tailored offers or to improve conversion rates

In [3]:
#Datafiles used
#Raw Files
#MM_Amberpet_Aug24_Raw.csv, MM_Attapur_Aug24_Raw.csv, MM_Menacheril_Aug24_Raw.csv, MM_Ramanathapuram_Aug24_Raw.csv, VW_Kukatpally_Aug24_Raw.csv
#VW_Guahati_Aug24_Raw.csv

In [ ]:
#Define the problem
#Provide service recommendations to walk-in customers based on their vehicle they own,vehicle age,past service history,
#proactive maintenance (common problems?)

In [1]:
import pandas as pd
import seaborn as sns 

import matplotlib.pyplot as plt
%matplotlib inline

import numpy as np
import missingno as msno

In [3]:
amberpet_df = pd.read_csv("MM_Amberpet_Aug24_Raw.csv")
attapur_df = pd.read_csv("MM_Attapur_Aug24_Raw.csv")
menacheril_df = pd.read_csv("MM_Menacheril_Aug24_Raw.csv")
ramanathapuram_df = pd.read_csv("MM_Ramanathapuram_Aug24_Raw.csv")

In [47]:
needed_columns=['Registration No','Vehicle Model','Sale Date','Kilometer','Service Type','Labour Code','Labour Basic Amount','Discount Amount','Tax Amount','Labour Total Amount','Billable Type','Bill Date']

In [53]:
mm_consolidated_df = pd.concat([amberpet_df[needed_columns], attapur_df[needed_columns], menacheril_df[needed_columns],ramanathapuram_df[needed_columns]])

In [59]:
def clncolnames(mindx):
    mylist =[]
    for i in mm_consolidated_df.columns: 
#string functions used
        j=i.lower().replace(' ', '_').replace('<', '_')
        mylist.append(j)
    return mylist

In [61]:
mm_consolidated_df.columns = clncolnames(mm_consolidated_df.columns)

In [63]:
mm_consolidated_df.head()

,registration_no,vehicle_model,sale_date,kilometer,service_type,labour_code,labour_basic_amount,discount_amount,tax_amount,labour_total_amount,billable_type,bill_date
0,TS08GP5755,MAHINDRA XUV500 FWD W9 WTH0 XH,31-07-2019,63540,RUNNING REPAIR,MCT-MC063ML,2965.25,0.0,533.74,3498.99,Customer Paid,01-08-2024
1,TS08GP5755,MAHINDRA XUV500 FWD W9 WTH0 XH,31-07-2019,63540,RUNNING REPAIR,MCT-MC123ML,1905.93,0.0,343.06,2248.99,Customer Paid,01-08-2024
2,TS07JL2542,MAHINDRA XUV300 W8 O PM BS6 AS WP,22-08-2022,19031,3RD FREE SERVICE,MCT-MC133ML,1007.63,0.0,181.38,1189.01,Customer Paid,01-08-2024
3,TS07JL2542,MAHINDRA XUV300 W8 O PM BS6 AS WP,22-08-2022,19031,3RD FREE SERVICE,MCT-MC123ML,1905.93,0.0,343.06,2248.99,Customer Paid,01-08-2024
4,TS07JL2542,MAHINDRA XUV300 W8 O PM BS6 AS WP,22-08-2022,19031,3RD FREE SERVICE,MCT-MC163ML,275.42,0.0,49.58,325.00,Customer Paid,01-08-2024

In [67]:
mm_consolidated_df.dtypes

registration_no         object
vehicle_model           object
sale_date               object
kilometer                int64
service_type            object
labour_code             object
labour_basic_amount    float64
discount_amount        float64
tax_amount             float64
labour_total_amount    float64
billable_type           object
bill_date               object
dtype: object

In [71]:
mm_consolidated_df.isnull().sum()

registration_no        0
vehicle_model          0
sale_date              0
kilometer              0
service_type           0
labour_code            0
labour_basic_amount    0
discount_amount        0
tax_amount             0
labour_total_amount    0
billable_type          0
bill_date              0
dtype: int64

In [107]:
#mm_consolidated_df.to_csv('mm_consolidated_aug24.csv')