In [3]:
import pandas as pd

In [5]:
caHousing = pd.read_csv("housing.csv")

In [9]:
# retrieve columns with numerical data; will exclude the ocean_proximity column since the datatype is object
def collist(df):
    mylist =[]
    for i in df.columns: 
        if df[i].dtype != 'object':
           mylist.append(i)
    return mylist

columns_list = collist(caHousing)

In [13]:
#Find the type of a data element in Python
type(columns_list)

list

In [15]:
#Find the shape of a dataframe
caHousing.shape

(20640, 10)

In [17]:
#Find the schema of a dataframe
caHousing.dtypes

longitude             float64
latitude              float64
housing_median_age      int64
total_rooms             int64
total_bedrooms        float64
population              int64
households              int64
median_income         float64
median_house_value      int64
ocean_proximity        object
dtype: object

In [21]:
#Find unique values in the column of a dataframe
uniqueval = caHousing.ocean_proximity.unique()

In [82]:
# Use .describe() to see metrics about the dataset (count, mean, std, min, 25%, 50%, 75%, max)
# Count is the count of non-null observations (i.e. rows)
# Mean is the average of values for the given column
# Std is standard deviation - how far off from the mean the values are
# Min is the minimum amount of the value
# 25% is the 25th percentile 
# 50% is the 50th percentile
# 75% is the 75th percentile
# max is the maximum amount of the value
caHousing.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [64]:
# Verify which features have missing values
caHousing.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [74]:
# Calculate the % of missing data
caHousing['total_bedrooms'].isnull().sum()/caHousing.shape[0] *100

1.002906976744186

In [78]:
#Copying a dataframe
caHousing_copy=caHousing.copy()